
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

Search by Make, Model, Color or Year:
<input type="text" id="input" class="form-control"
       oninput="search()" />

<table class="table table-striped" id="cars"></table>

<script>
    function search() {
        $.ajax(
            {
                type: 'POST',
                url: '/Home/SearchAPI?id=',
                data: '{id: "' + document.getElementById("input").value
                    + '"}',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                success:
                    function (response) {
                        var tableHTML = 
                             "<th>Make</th>"
                            + "<th>Model</th>"
                            + "<th>Year</th>"
                            +"<th>Color</th></tr > ";
                        for (var i = 0; i < response.length; i++) {
                            var Car = response[i];
                            var tr = 
                                + "<td>" + Car.make + "</td>"
                                + "<td>" + Car.model + "</td>"
                                + "<td>" + Car.year + "</td>"
                                + "<td>" + Car.color + "</td>"
                                + "</tr>";
                            tableHTML += tr;
                        }
                        document.getElementById("cars")
                            .innerHTML = tableHTML;
                    },
                failure: function (response) {
                    alert("Failure" + response.responseText);
                },
                error: function (response) {
                    document.write("Error" + response.responseText);
                }
            }

        );
    }
</script>

